html{
    background-image: url('../assets/ggbackground.jpg');
    background-repeat: repeat-y;
    background-color: pink;
    background-size: cover;

}

h1{
    color: purple;
    text-align: center;
    font-family: 'Raleway' , sans-serif;

}

#GGwp{
    color: purple;
    text-align: center;
    font-family: 'Raleway' , sans-serif;
    font-size: 25px;
    font-weight:500;

}

input[type=number] {
    font-family: 'Raleway' , sans-serif;
    box-sizing: border-box;
    box-shadow: black;
    border-radius: 10px;
    border-width: 2px;
    margin-right: 25px;
    
}

form{
text-align: center;
font-family: 'Raleway' , sans-serif;
color: purple;
font-size: 18px;

}

input[type=submit] {
    font-family: 'Raleway' , sans-serif;
    color: purple;
    font-size: 18px;
    margin-left: 30px;
    border-radius: 4px;
    padding: 10px 40px;
    overflow:hidden;
    border: 3px solid #8405fc85;
    


}

input[type=submit]:hover {
border: 3px dotted #ff038e; 
color: #f70980;
background: #fff;
}

